@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524763;
  --highlight_text: #f4ede8;
}

.fade-in{
  width: 100%;
  max-width: 80ch;
  animation: fade 7s;
}

.move-cursor{
  width: 18em;
  animation: typing 3s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 8px solid var(--highlight_text);
}

/* animation */

@keyframes fade {
  0% { opacity: 0}
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 18em; }
}

@keyframes blink {
  50% { border-color: transparent;}
}

/* dynamic resizing */
@media (min-width:600px) {
  body {
    font-size: 1.25rem;
  }
}
